.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode input {
    background-color: #222;
    color: white;
    border: 1px solid #555;
}

.dark-mode button {
    background-color: #333;
    color: white;
}

.dark-mode .ejemplo {
    color: #ff0000;
    font-size: 20px;
}

.dark-mode #resultado{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;
}

#verbo {
    font-size: 40px;
    color: blue;
}

#pronombre {
    font-size: 30px;
    color: red;
}

#respuesta {
    font-size: 26px;
}

#but {
    font-size: 28px;
    padding: 10px 20px;
}

.ejemplo {
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
    line-height: 1.6;
}

#resultado{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
}